.portfolioLink a{
  color: rebeccapurple !important;
  text-decoration: underline;
}

h2 {
    font-size: 40px !important;
}

.header .logo-img {
    height: 70px !important;
    width: 350px !important;
    max-width: 300% !important;
}

p {
    font-size: 20px !important;
    color: black !important;
}

.promo-block-text {
    font-size: 25px !important;
}

.footer .footer-logo {
    width: 200px !important;
};

.social-icons {
    width: 50px !important;
    height: 40px!important;
    font-size: 30px !important;
    color: #00d6fe !important;
}